body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}
.wrapper {
  width: 1200px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main content*/
.main-content {
  padding: 88px;
}

/*  About me */

.my-profession {
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 28px 0;
}

.about-me {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

.main-info {
  margin-bottom: 64px;
}

.main-items {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/*Projects*/
.projects-container {
  margin-bottom: 52px;
}

.project-list {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding: 0 0 0 16px;
  margin: 0;
}

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}

.project-item-technologies {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.item1-dots {
  width: 174.91px;
  height: 0px;
  left: 713.5px;
  top: 473px;
  border: 1px dashed #a8a8a8;
}

.item2-dots {
  width: 132.48px;
  height: 0px;
  left: 744.93px;
  top: 497px;
  border: 1px dashed #a8a8a8;
}

.item3-dots {
  width: 150.04px;
  height: 0px;
  left: 723.77px;
  top: 521px;
  border: 1px dashed #a8a8a8;
}

/*Work Experience*/

.work-experience-container {
  margin-bottom: 44px;
}

.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.work-exp-place {
  margin-bottom: 16px;
}
.company-name {
  color: #6d9bf5;
}

.work-period,
.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 8px 0;
}
.work-duties-item {
  padding: 0 0 0 16px;
  margin: 0;
}

.work-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* Education */
.education-container {
  margin-bottom: 44px;
}

.education-place {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
  margin: 0;
}
.education-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.education-item {
  margin-bottom: 16px;
}

/* Sidebar*/
.sidebar {
  width: 370px;
  background-color: #e0ebfe;
}

.my-photo {
  margin-top: 40px;
}
.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin-top: 48px;
  margin-left: 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/*Contacts */
.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 4px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
}

/*Skills*/

.skills-list,
.work-list {
  margin: 0;
  padding: 0 0 0 12px;
}

.skills-list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #6d9bf5;
}

.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
